* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body {
    width: 100%;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-size: 14px;
    color: #222;
}
p {
    font-size: 14px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

a{
    text-decoration: none;
}


/*Header start*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    
}
#navbar {
    display: flex;
    align-items: center;
    justify-content:center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: rgb(16, 0, 191);
    transition: 0.3s ease;
}
#navbar li a.active:after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 2px;
    background:rgb(16, 0, 191);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
}

/*Home page*/
#hero {
    background-image: url("images/hero4.png");
    height: 90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero p{
    align-items: center;
    justify-content: center;
}
#hero h4 {
    padding-bottom: 2px;
    align-items: center;
}

#hero h1 {
    padding-bottom: 9px;
    color:#088178;
}

#hero button {
    background-image: url("images/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 12px 71px 14px;
    cursor:pointer;
    font-weight: 800;
    font-size:15px;
}

/*Features*/

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    padding: 25px 10px;
    text-align: center;
    margin: 15px 0;
    border: 2px solid #088178;
    border-radius:4px;
    box-shadow: 18px 18px 39px rgba(114, 99, 99, 0.9);
    background-color: white;
}
#feature .fe-box:hover {
    background-color: #088178;
    box-shadow: 10px 10px 54px #463edd1a;
}
#feature .fe-box h6 {
    color: black;
    display: inline-block;
    padding: 9px -1px 9px 8px;
    line-height: 1.3;
    border-radius: 4px;
    background-color: #fddde4;
    transform: translateX(6%)
}

/*Featured Products in home page*/

#product1 {
    text-align: center;   
}
#product1 p {
    font-size: 22px;
    color: #088178;
    text-decoration:solid;
    padding: 2px 30px 2px 30px;
    border: none;
}
#product1 .pro-container {
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;  
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 14px 10px;
    border: 2px solid #d5e6d8;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.7);
}
#product1 .pro img {
    width: 100%;
    border-radius: 14px;
}
#product1 .pro.TEAMSPORT-image {
    width: 300px;
}
#product1 .pro.TEAMSPORT-image h4 {
    display: flex;
    padding-top: 20px;
}
#product1 .pro.Mesh {
    width: 305px;
}

#product1 .pro .desc{
    padding:6px 0;
    text-align: start;
}
#product1 .pro .desc span {
    color: #606063;
    font-size: 12px;
}
#product1 h2 {
    padding-top: 10px;
    padding-bottom: 40px;
}
#product1 .pro .desc h5 {
    font-size: 14px;
    color: #232323;
}
#product1 .pro .desc h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}
#product1 .pro .desc i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;

}
/*Banner*/

#banner {
    background-image: url(images/b2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 39vh;
    background-size: cover;
    background-position: center;
}
#banner button {
    font-size: 16px;
    color: black;
    background-color:white ;
    border-radius: 5px;
    border: none;
    padding: 12px 11px 12px 11px;
    margin: 13px 0;
    cursor: pointer;
    transition: 0.3s;
}
#banner button:hover{
    background-color:#088178;
    color: white;
}
#banner span{
    color: rgb(233, 7, 7);
}
#banner h4 {
    color: white;
    font-size: 19px;
}  
#banner h2{
    color: white;
    font-size: 45px;
    padding: 13px ;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    background-image: url(images/Banners/b17.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    flex-direction: column;
    min-width: 620px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box1 {
    background-image: url(images/Banners/b10.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    flex-direction: column;
    min-width: 620px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-style: initial;
    font-weight: 300;
}
#sm-banner h2 {
    color: white;
    font-style: italic;
    font-size: 29px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-style: oblique;
    font-size: 14px;
    font-weight: 500px;
    padding-bottom: 15px;
}

#sm-banner button {
    font-size: 19px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s;
}

#sm-banner button:hover{
    background-color: #088178;
}

#banner3 .banner-box {
        background-image: url(images/Banners/b7.jpg);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 32%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
}
#banner3 .banner-box1 {
    background-image: url(images/Banners/b4.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 32%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box1 h2 {
    padding: 0px;
    margin: 0px;
}
#banner3 .banner-box2 {
    background-image: url(images/Banners/b18.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 32%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2 {
    color: white;
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}
#banner3 h3 {
    color: rgb(212, 20, 20);
    font-weight: 700;
    font-size: 15px;   
    justify-content: center;
    align-items: center; 
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    padding: 0 80px; 
}


#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/Banners/b14.png);
    background-repeat: repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter .newstext h4{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.newstext p {
    color: #818ea0;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}
.newstext p span {
    color: #ffbd27;
}
#newsletter .form {
    display: flex;
    width: 30%;
}
#newsletter input {
    height: 2.95rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}
#newsletter button {
    cursor: pointer;
    background-color: #088178;
    color: white;
    white-space: nowrap;
    width: 110px;
    border: 2px solid transparent;
    border-radius:4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.section-p1 .col img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
footer .colinstall img{
    width: 300px;
    height: 50px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 15px;
}
footer h5{
    font-size: 14px;
    padding-bottom: 8px;
}
footer p{
    font-size: 12px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .icon {
    margin-top: 0px;

}
footer .icon i{
    cursor: pointer;
    margin-top: 5px;
    padding-right: 4px;
}
footer .icon i:hover,
footer a:hover {
    color: #088178;
}
footer .colinstall p {
    padding: 4px;
}
footer .colinstall .row {
    border: 2px solid #088178;
    border-radius: 6px;
}
footer .colinstall .row img {
    width: 200px;
    height: 70px;
}


/* Shop Page */
#page-header {
    background-image: url(images/BannersofShop/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p {
    color: white;
    font-size: 38px;
}
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Product1 */
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails {
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}
#prodetails .single-pro-details h4 {
    font-size: 25px;
    padding: 15px 0 15px 0;
}
#prodetails .single-pro-details h3 {
    font-size: 29px;
    padding: 16px 0 14px 0;
}
#prodetails .single-pro-details p {
    font-size: 19px;
}
#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px ;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button {
    border: 12px solid transparent;
    border-radius: 2px;
    background-color: #088178;
    color:#fff;
    cursor: pointer;
    width: 150px;
    height: 50px;
}
#prodetails .single-pro-details input:focus {
    outline: none;
}

/* Blog page */

#page-header.blog-header {
    background-image:url(images/Banners/b19.jpg);
    height: 400px;
}

#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 80px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}
#blog img {
    width: 100%;
    height: 304px;
    object-fit: cover;
}
#blog .blog-details {
    width: 50%;
}
#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 650;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after {
    background-color: #088178;
}
#blog .blog-box h1 {
    position: absolute;
    top: -48px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color: #b2bbb4;
    z-index: -1;
}

/* About page */

#page-header .about-header{
    background-image:url(images/About-images/banner.png) ;
}

#about-head img {
    width: 50%;
    height: auto;
}
#about-head {
    display: flex;
    align-items: center;
}
#about-head h2 {
    padding-left: 40px;
}
#about-head p {
    padding: 20px;
}


#about-app h1{
    text-align: center;
}
#about-app .video {
    /* display: flex;
    justify-content: center; */
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

/* Contact Page */

.about-header {
    display: flex;
}
.about-header p {
    font-size: 12px;
}
#contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-details .details {
    width: 40%;
}
#contact-details .details h3{
    font-size: 28px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map {
    height: 440px;
    width: 55%;
}
#contact-details .map iframe{
    height: 100%;
    width: 100%;
}


#form-details form {
    width: 65%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items:flex-start;
}

#contact-details form span {
    font-size: 12px;
}

#contact-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1ee;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1ee;
}

#form-details form button {
    background-color: #088178;
    font-size: 20px;
    color: #fff;
}

#form-details .people div {
 padding-bottom:25px ;

 display: flex;
 align-items: flex-start;

 
}
#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/* Cart page */
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img {
    width: 70px;

}
#card table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
#card table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#card table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#card table td:nth-child(4),
#card table td:nth-child(5),
#card table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#card table td:nth-child(5) input {
    width: 70px;
    padding:10px 5px 10px 15px ;
}
#card table thead {
    border: 1px solid#e2e9e1;
    border-left: none;
    border-right: none;
}
#card table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#card table thead tr td {
    padding-top: 15px;

}
#card table tbody td {
    font-size: 13px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#coupon h3 ,
#subtotal h3{
    padding-bottom:  15px;
}







/* Media */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color:#1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color:#d01d1d;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h2{
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 {
        width: 100%;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box1 {
        margin-top: 20px;
    }
    #sm-banenr .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;

    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;

    }

    /* Blog */
    #blog {
        padding: 100px 20px 0 20px;  
    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
    } 
    /* About */
     #about-head {
        flex-direction: column;
     }
     #about-head img {
        width: 100%;
        margin-bottom: 30px;
     }
     #about-head .video {
        width: 100%;
        height: 100%;
        margin: 30px auto 0 auto;
     }
}